body {
  font-family: system-ui;
  background-color: Canvas;
  color: CanvasText;
  color-scheme: light dark;
}

@media (orientation: portrait) {
  #main {
    flex-direction: column;
  }

  #pagination {
    margin-top: 1rem;
  }
}

#main {
  display: flex;
  column-gap: 1rem;
}

main {
  flex-grow: 1;
}

#pagination {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border: 1px solid #cacaca;
  margin-bottom: 0.5rem;
  position: sticky;
  top: 0;
  background: Canvas;
}

nav {
  position: sticky;
  top: 1rem;
  padding: 0.5rem 1rem;
  border: 1px solid #d3d3d3;
  ul {
    list-style-type: none;
    padding: 0;

    a {
      text-decoration: none;
    }
  }
}

#feed-items {
  margin: 0;
  padding: 0;
}

.feed-item {
  display: flex;
  flex-direction: column;

  border: 1px solid #cacaca;
  margin-bottom: 0.5rem;

  &:first-child {
    margin-top: 0;
  }

  a {
    padding: 1rem 0.5rem;
    background-color: Canvas;
    text-decoration: none;
  }

  span {
    padding: 0.5rem;
  }

  .feed-item-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: Field;
    color: GrayText;
  }

}
